*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    padding: 10px;
    height: 80px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}

.nav-logo-name{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 250px;
}

.nav-logo{
    height: 70px;
    width: 100px;
}

.logo{
    background-image: url("Images/logo.png");
    background-size: cover;
    height: 70px;
    width: 100px;
}

.name{
    height: 70px;
    width: 150px;
    background-image: url("Images/bunk-buddies.png");
    background-size: cover;
}

.nav-items{
    width: 70%;
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.nav-items a{
    text-decoration: none;
    display: inline;
    margin-right: 15px;
    color:  #1282A2;
    font-weight: 700;
}

.nav-items a:hover{
    color:black;
}

.hero-section{
    background-image: url("Images/hero_image.png");
    height: 600px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-msg{
    border-radius: 8px;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 265px;
    right: 90px;
}

.hero-msg button{
    background-color: white;
    color: #1282A2;
    font-size: 1rem;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.hero-msg a{
    text-decoration: none;
    color: #1282A2;
}

#about, #contact {
    padding: 2rem;
    text-align: center;
}

#about h2, #contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#about p, #contact p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#about a, #contact a {
    color: #1282A2;
    text-decoration: none;
}