*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    padding: 10px;
    height: 80px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}

.nav-logo-name{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 250px;
}

.nav-logo{
    height: 70px;
    width: 100px;
}

.logo{
    background-image: url("logo.png");
    background-size: cover;
    height: 70px;
    width: 100px;
}

.name{
    height: 70px;
    width: 150px;
    background-image: url("bunk-buddies.png");
    background-size: cover;
}

.nav-items{
    width: 70%;
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.nav-items a{
    text-decoration: none;
    display: inline;
    margin-right: 15px;
    color: #1282A2;
    font-weight: 700;
}

.nav-items a:hover{
    color: black;
}

.search-section {
    
    width: 380px;
    position: relative;
}

.select-location {
    position: relative;
}

.select-location input {
    width: 100%;
    background-color: #fff;
    color: #000;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1rem;
    padding: 15px 20px;
    border: 0 !important;
    outline: 0 !important;
}

.select-location::after {
    content: "";
    border-top: 12px solid #000;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -8px;
}

.content {
    background-color: #fff;
    position: absolute;
    color: #000;
    border-radius: 7px;
    margin-top: 15px;
    width: 100%;
    z-index: 999;
    padding: 20px;
    display: none;
}

.search input {
    width: 100%;
    font-size: 0.85rem;
    padding: 15px;
    outline: 0;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
}

.options {  
    margin-top: 10px;
    max-height: 150px;
    overflow-y: auto;
    padding: 0;
}

.options li {
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 0.75rem;
    cursor: pointer;
    border-bottom: 1px solid grey;
}

.options li:hover {
    background-color: #f2f2f2;
}

.search-section.active .content {
    display: block;
}