*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

html {
    scroll-behavior: smooth;
}

.navbar{
    padding: 10px;
    height: 80px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}

.nav-logo-name{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 250px;
}

.nav-logo{
    height: 70px;
    width: 100px;
}

.logo{
    background-image: url("logo.png");
    background-size: cover;
    height: 70px;
    width: 100px;
}

.name{
    height: 70px;
    width: 150px;
    background-image: url("bunk-buddies.png");
    background-size: cover;
}

.nav-items{
    width: 70%;
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.nav-items a{
    text-decoration: none;
    display: inline;
    margin-right: 15px;
    color: #1282A2;
    font-weight: 700;
}

.nav-items a:hover{
    color: black;
}