*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    padding: 1rem;
    height: 80px;
    background-color: #fff;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}

.nav-logo-name{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 250px;
}

.nav-logo{
    height: 70px;
    width: 100px;
}

.logo{
    background-image: url("Images/logo.png");
    background-size: cover;
    height: 70px;
    width: 100px;
}

.name{
    height: 70px;
    width: 150px;
    background-image: url("Images/bunk-buddies.png");
    background-size: cover;
}

.nav-items{
    width: 70%;
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.nav-items a{
    text-decoration: none;
    display: inline;
    
    color: #1282A2;
    font-weight: 700;
}

.nav-items button {
    border: 1px solid #1282A2;
    background: #fff;
    height: 2.5rem;
    font-size: 1rem;
    text-align: center;
    margin-left: 15px;
}

.nav-items .signup {
    /* border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; */
    border-radius: 20px;
    width: 10%;
}

.nav-items .login {
    /* border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; */
    border-radius: 20px;
    width: 10%;
}

.nav-items a:hover {
    color: #fff;
}

.nav-items button:hover {
    background: #1282A2;
    color: #fff;
}

/* Customize carousel controls */
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-inner {
  height: 600px;
}

.carousel-item img {
  object-fit: cover;
  height: 600px;
}
